<div class="home_container">

  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="DIGITAL"
    gamePrice="R$ 199,90"
    gameType="DIGITAL | PS4"
  ></app-card>

  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="EXCLUSIVE"
    gamePrice="R$ 299,90"
    gameType="DISC | PS5"
  ></app-card>
  
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="NEW"
    gamePrice="R$ 267,90"
    gameType="DIGITAL | PS3 PS4 PS5"
  ></app-card>

  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="BEST OF YEAR"
    gamePrice="R$ 369,90"
    gameType="DISC | PS5"
  ></app-card>

  <app-card
    gameCover="assets/ac-cover.jpg"
    gameLabel="NEW"
    gamePrice="R$ 267,90"
    gameType="DIGITAL | PS3 PS4 PS5"
  ></app-card>

  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="NEW"
    gamePrice="R$ 267,90"
    gameType="DIGITAL | PS3 PS4 PS5"
  ></app-card>

</div>
